@{
    Layout = "Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Settings</h1>
        
        <p>These are the core settings for Hadouken. <em>Some settings might not have any effect until you restart Hadouken, for example the HTTP settings.</em></p>
    </div>
</div>

<form class="form-horizontal" role="form" method="POST">
    <div class="row">
        <div class="col-md-12">
            <h2>General</h2>

            <div class="form-group">
                <label for="instanceName" class="control-label col-md-3">Instance name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="instanceName" id="instanceName" value="@Model.InstanceName" />
                </div>
            </div>

            <div class="form-group">
                <label for="dataPath" class="control-label col-md-3">Application data path</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="dataPath" id="dataPath" value="@Model.DataPath" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>HTTP</h2>

            <div class="form-group">
                <label for="httpHostBinding" class="control-label col-md-3">Host binding</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="httpHostBinding" id="httpHostBinding" value="@Model.HttpHostBinding" />
                </div>
            </div>

            <div class="form-group">
                <label for="httpPort" class="control-label col-md-3">Port</label>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="httpPort" id="httpPort" value="@Model.HttpPort" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Plugins</h2>

            <div class="form-group">
                <label for="pluginsBaseDirectory" class="control-label col-md-3">Base directory</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="pluginsBaseDirectory" id="pluginsBaseDirectory" value="@Model.PluginsBaseDirectory" />
                </div>
            </div>

            <div class="form-group">
                <label for="pluginsRepositoryUri" class="control-label col-md-3">Repository URL</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="pluginsRepositoryUri" id="pluginsRepositoryUrl" value="@Model.PluginsRepositoryUri" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-primary">Save settings</button>
            </div>
        </div>
    </div>
</form>